$ const { newsletter, date } = data;

<common-am-standard-layout data=data>
  <@header>
    <common-am-header-block date=date newsletter=newsletter />
  </@header>
  <@footer>
    <common-am-footer-block date=date newsletter=newsletter />
  </@footer>
</common-am-standard-layout>
